
:root {
    --navbar-height: 4rem;
    --sideBar-widht: 10rem;
    --sideBar-mobile-width: 4.5rem
    
}


.pageWrapper{
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
}

/* HEADER SECTION */

.navbar{
    height: var(--navbar-height)
}

.mobileLogo{
    width: 40px;
}


 .search-bar .form-control {
    background-color: #e9ecef;
  }


/* SECTION WITH MAIN AND SIDEBAR */
section{
    height: calc(100% - var(--navbar-height));

}

.mainContent{
    width: calc(100% - var(--sideBar-widht));
    height: calc(100% - var(--navbar-height));
    background-color: #f8f9fa;
    overflow-y: auto;
    
}

.sideBar{
    height: calc(100vh - var(--navbar-height));
    background-image: url(sidebar-bg.png);
    background-color: #1a2b3d;
    width: var(--sideBar-widht);
}

.topContainer{
    height: calc(100% - 4rem);
}

.badge,
.roundPlusBadge{
    background-color: #2e5bb4;

}

#offcanvasRight {
    max-width: 50%;
    width: 50%;

}


th.nome{
    width: 30%;
}


.coding-image{
    width: 1.5rem;
    border-radius: 50%;
}

.table>:not(caption)>*>*{
    padding: 0.5rem 0rem !important;
}

.doneGreen,
.processYellow,
.failRed{
    font-size: 0.75rem;
}

.fa-pencil,
.fa-trash{
    font-size: 0.75rem;
}


/* HOVER EFFECTS */
.fa-pencil:hover,
.fa-trash:hover {
    background-color: lightgray;
}

.sideBar ul li:hover {
    background-color: rgba(128, 128, 128, 0.425) !important;
}

.new:hover{
    background-color: white;
    color: black;
}

.badge:hover{
    background-color: #1a2b3d7e;
    cursor: pointer;
}

.fa-bars:hover,
.fa-circle-question:hover,
.fa-ellipsis-vertical:hover {
    color: black;

}
.fa-bell:hover{
    color: green;
}


/* MEDIA QURIES */

@media screen and (max-width:767px) {
    .sideBar{
        width: var(--sideBar-mobile-width);
    }

    .mainContent{
        width: calc(100% - var(--sideBar-mobile-width));
    }

    #offcanvasRight {
        max-width: 100%;
        width: 100%;
    
    }
    
}